<div class="container">
  <h1 class="about-color text-center profile-title">HELLO <%= current_user.first_name.capitalize %> !</h1>
  <div class="profile-banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div>
          <ul class="tab-base profile-tabs" role="tablist">
            <li role="presentation" class="atab active"><a href="#resource" aria-controls="resource" role="tab" data-toggle="tab">Saved Resources</a></li>
            <li role="presentation" class="atab"><a href="#event" aria-controls="event" role="tab" data-toggle="tab">Saved Events</a></li>
          </ul>


          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="resource">
              <% if @saved_resources.empty? %>
                  <h4 class="text-center"> No saved resources yet!</h4>
                  <p class="text-center photo-profile-logo"> <%= cl_image_tag("venue_xn5fho") %> </p>
                <% else %>
                <% @saved_resources.each do |sr| %>
                  <%= render 'shared/card_resource', resource: sr.resource %>
                <% end %>
              <% end %>
            </div>

            <div role="tabpanel" class="tab-pane" id="event">
              <% if @saved_events.empty? %>
                <h4 class="text-center"> No Saved Events...time to add some!</h4>
                <p class="text-center photo-profile-logo"> <%= cl_image_tag("book-event_umsrbj") %> </p>
              <% else %>
                <% @saved_events.each do |se| %>
                  <%= render 'shared/card_event', event: se.event %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
