<div class="container login-height forgotten-password-container">
  <div class="login-form">
    <h2 class="login-title-devise text-center">Forgot your password?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.label :email, :class => "login-devise-inputs" %>
        <%= f.input :email, label: false, required: true, autofocus: true %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Send me reset password instructions", class: "button-login forgot-password-btn text-center" %>
      </div>
    <% end %>

  </div>
</div>

<%= render "devise/shared/links" %>
