<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <div class="remove-underline">
      <%= cl_image_tag "logo_navbar_n4qah0" %>
      <%= cl_image_tag "saved-_logo_qvlcoq" %>
    </div>

  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if user_signed_in? && current_user.admin %>
        <%= link_to "ADD RESOURCE", new_resource_path, :class => current_class?(new_resource_path) %>
        <%= link_to "ADD EVENT", new_event_path , :class => current_class?(new_event_path) %>
      <% end %>
      <%= link_to "RESOURCES", resources_path, :class => current_class?(resources_path)  %>
      <%= link_to "EVENTS", events_path , :class  => current_class?(events_path)  %>
      <%= link_to "GALLERY", photos_path, :class => current_class?(photos_path)  %>
      <%= link_to "CONTACT", contact_path, :class  => current_class?(contact_path) %>
      <%= link_to "ABOUT", about_path , :class => current_class?(about_path) %>
      <%= link_to "PROFILE", dashboard_path, :class => current_class?(dashboard_path) %>
      <%= link_to destroy_user_session_path, :class => current_class?(destroy_user_session_path), method: :delete do %>
        <%= t(".sign_out", default: "LOG OUT") %>
      <% end %>


  <!-- Avatar with dropdown menu -->

    <% else %>
      <!-- Login link (when logged out) -->
      <% if user_signed_in? && current_user.admin %>
        <%= link_to "ADD RESOURCE", new_resource_path, :class => current_class?(new_resource_path)%>
        <%= link_to "ADD EVENT", new_event_path , :class => current_class?(new_event_path) %>
      <% end %>
      <%= link_to "RESOURCES", resources_path, :class => current_class?(resources_path) %>
      <%= link_to "EVENTS", events_path , :class  => current_class?(events_path) %>
      <%= link_to "GALLERY", photos_path, :class => current_class?(photos_path) %>
      <%= link_to "CONTACT", contact_path, :class  => current_class?(contact_path)  %>
      <%= link_to "ABOUT", about_path , :class => current_class?(about_path) %>
      <%= link_to "PROFILE", dashboard_path, :class => current_class?(dashboard_path) %>
      <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, :class => current_class?(new_user_session_path)  %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "RESOURCES", resources_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "EVENTS", events_path , class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "GALLERY", photos_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "CONTACT", contact_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "ABOUT", about_path , class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "PROFILE", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li>  <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete do %>
          <%= t(".sign_out", default: "LOG OUT") %>
        <% end %></li>
        </ul>
      </div>
    </div>

  <% else %>

    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "RESOURCES", resources_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "EVENTS", events_path , class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "GALLERY", photos_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "CONTACT", contact_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "ABOUT", about_path , class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "PROFILE", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li>  <%= link_to t(".sign_in", default: "LOGIN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> </li>
        </ul>
      </div>
    </div>

  <% end %>
</div>


