<div class="container">
  <div class="home-small-container text-center">
    <div class="row">
      <div class="banner">
        <div>
          <%= cl_image_tag "logo_final_omhn_epuxv1", class: "big-logo-home" %>
        </div>
        <div class="homepage-description">
          <h1 id="title-homepage" class="text-center">OXFORD MENTAL <br> HEALTH NETWORK</h1>
          <p class="text-center">Helping you find the mental health resources you need.</p>

          <form action="/resources" method="get" class="form-inline">
            <div class="input-group index-search">
              <input type="text" name="query" class="form-control text-center" style="vertical-align: baseline" placeholder="What are you looking for?">
                <span class="input-group-btn index-button">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>


  <h3 class="text-center homepage-titles">Browse by top categories</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div>
        <a href="resources?query=National+Health+Service">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'national_health_service_y69jet' %>')" data-toggle="tooltip" title="The National Health Service (NHS) is the publicly funded national healthcare system for England." data-placement="top">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">National Health Service</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div>
        <a href="resources?query=Peer+Support+Groups">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'peer_support_groups_sicbfj' %>')" data-toggle="tooltip" title="A support group is a meeting of people who are dealing with similar issues in order to provide hope, companionship and non-professional advice." data-placement="top">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">Peer Support Groups</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 ">
      <div>
        <a href="resources?query=Self+Help+and+Apps">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'self_help_and_apps_ibzgdm' %>')" data-toggle="tooltip" title="Self-help is a way of dealing with any kind of mental distress without the direct help of professionals or medical support. These often come in the form of apps, online therapies, or books that encourage a sustainable, self-supporting way of life." data-placement="top">
          </div>
        </a>

      </div>
      <h4 class="category-title text-center">Self-Help and Apps</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div >
        <a href="resources?query=Helplines" >
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'helplines_ctyfrc' %>')" data-toggle="tooltip" title="A mental health helpline is a service for those in need of immediate advice or emotional support. They tend to be provided by a dedicated charity and are almost always free of charge." data-placement="top">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">Helplines</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 ">
      <div>
        <a href="resources?query=Students">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'students_lgqdpk' %>')" data-toggle="tooltip" title="The following resources are all run solely for, and sometimes by, students in Oxfordshire. They range from counselling services, to anti-stigma campaigns, to support groups." data-placement="bottom">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">Students</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 ">
      <div>
        <a href="resources?query=Support+Services">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'support_services_kdxblq' %>');" data-toggle="tooltip" title="A support service is a broad term related to a type of mental health support that is based around practical help. This might range from assisted housing, to employment coaching, to free counselling." data-placement="bottom">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">Support Services</h4>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 ">
      <div>
        <a href="resources?query=Private+Medical+Services">
          <div class="category-photo" style="background-image: url('<%= cl_image_path 'private_medical_services_vxpstx' %>')" data-toggle="tooltip" title="A support service is a broad term related to a type of mental health support that is based around practical help. This might range from assisted housing, to employment coaching, to free counselling." data-placement="bottom">
          </div>
        </a>
      </div>
      <h4 class="category-title text-center">Private Medical Services</h4>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 emergency">
      <%= link_to emergency_path do %>
        <div class="category-photo" style="background-image: url('<%= cl_image_path 'emergency_icon.png_szdlzs' %>')" data-toggle="tooltip" title="To find a selection of appropriate responses to your emergency, choose the situation description below that is closest to yours by pressing this link." data-placement="bottom">
        </div>
        <h4 class="category-title text-center">Emergency</h4>
      <% end %>
    </div>

  </div>
    <% if @events.empty? %>
      <div></div>
    <% else %>
      <div class="row">
        <h3 class="text-center homepage-titles">Events in Oxford near you</h3>
        <% @events[0..2].each do |event| %>
          <div class="col-xs-12 col-sm-4">
            <%= render 'events/event_square_card', event: event %>
          </div>
        <% end %>
      </div>

    <% end %>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
<% end %>
