<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padded-row">
      <% if user_signed_in? %>
        <% if current_user.saved_resource?(@resource) %>
          <%= link_to 'Unsave', saved_resource_path(current_user.save_resource(@resource)), method: :delete, class: 'btn btn-primary btn-positioning' %>
        <% else  %>
          <%= link_to 'Save', resource_saved_resources_path(@resource), method: :post, class: 'btn btn-primary btn-positioning' %>
        <% end %>
      <% end %>
      <div class="edit-delete-showpage-resource pull-right">
        <%= link_to resource_path(@resource), method: :delete do  %>
          <i class="fa admin-fa fa-trash-o icon-showpage" aria-hidden="true"></i>
        <% end %>
        <%= link_to edit_resource_path(@resource) do  %>
          <i class="fa admin-fa fa-pencil-square-o icon-showpage" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <div class="resource-details">
        <div class="photo-showpage" style="background-image: url('<%= cl_image_path @resource.photo %>')">
        </div>
        <div class="details-description">
          <h1 class="showpage-title"><%= @resource.name %></h1>
          <div class="website">
            <h5>Website</h5>
            <a class ="light" href="<%= @resource.website %>" target="_blank"><%= @resource.website %></a>
          </div>
          <div class="address">
            <h5>Address</h5>
            <p class="light"><%= @resource.address %></p>
          </div>
          <div class="contact">
            <h5>Contact</h5>
            <% @resource.contacts.each do |contact|  %>
            <p class ="light"><%= contact %></p>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div>
        <h4 class="bold">About</h4>
        <p class="content-space"><%= @resource.about  %></p>
      </div>
      <div>
        <h4 class="bold">What They Do</h4>
        <p class="content-space"><%= @resource.what_they_do  %></p>
      </div>
      <div>
        <h4 class="bold">OMHSN Tip</h4>
        <p class="content-space"><%= @resource.tip %></p>
      </div>

      <div id="map" class="show-map" style="width: 100%; height: 400px;" data-markers="<%= @resource_coordinates.to_json %>">>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
<% end %>
