<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 padded-row">
      <% if user_signed_in? %>
        <% if current_user.saved_resource?(@resource) %>
          <%= link_to 'Unsave', saved_resource_path(current_user.save_resource(@resource)), method: :delete, class: 'btn btn-primary btn-positioning' %>
        <% else  %>
          <%= link_to 'Save', resource_saved_resources_path(@resource), method: :post, class: 'btn btn-primary btn-positioning' %>
        <% end %>
      <% end %>
      <div class="edit-delete-showpage-resource pull-right">
        <% if policy(@resource).destroy? %>
            <%= link_to resource_path(@resource), method: :delete, :data => {:confirm => "You Sure?"} do  %>
              <i class="fa admin-fa fa-trash-o icon-showpage" aria-hidden="true"></i>
            <% end %>
        <% end %>
        <% if policy(@resource).edit? %>
            <%= link_to edit_resource_path(@resource) do  %>
              <i class="fa admin-fa fa-pencil-square-o icon-showpage" aria-hidden="true"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <div class="resource-details">

        <% unless @resource.photo.url == nil %>
          <div class="photo-showpage" style="background-image: url('<%= cl_image_path @resource.photo %>')">
          </div>
        <% end %>
        <div class="details-description">
          <h1 class="showpage-title"><%= @resource.name %></h1>
          <% if @resource.website == nil %>
            <div class="website">
              <h5>Website</h5>
              <a class ="light" href="<%= @resource.website %>" target="_blank"><%= @resource.website %></a>
            </div>
          <% end %>
          <% unless @resource.address == nil || @resource.address == "" %>
            <div class="address">
              <h5>Address</h5>
              <p class="light"><%= @resource.address %></p>
            </div>
          <% end %>
          <div class="contact light">
            <h5>Contact</h5>
            <%= @resource.contacts_as_string.html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div>
        <h4 class="bold">About</h4>
        <p class="content-space justifying-text"><%= @resource.about  %></p>
      </div>
      <div>
        <h4 class="bold">What They Do</h4>
        <%= @resource.what_they_do.html_safe %>
      </div>
      <div>
        <h4 class="bold spacing-omhn-tip">OMHN Tip</h4>
        <p class="content-space justifying-text"><%= @resource.tip %></p>
      </div>
      <% unless @resource.longitude == nil %>
        <div id="map" class="show-map resource-show-map" style="width: 100%; height: 400px;" data-markers="<%= @resource_coordinates.to_json %>">>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'map' %>
<% end %>
